.idea
*.iml
*.ipr
*.iws

.gradle
gradlew.bat
build

/local.properties
reports
/captures
jacoco.exec

.DS_Store

*.apk
*.ap_

*.log

.navigation/

*.dex

*.class

bin/
gen/
out
lib

.externalNativeBuild
